[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiohttp = "*"
pytest = "*"
pytest-cov = "*"
"flake8" = "*"
tox = "*"
sphinx = "*"
alabaster = "*"

[dev-packages]
proxipy = {editable = true, path = "."}

[requires]
python_version = "3.7"
